
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

.imgContainer {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
            opacity: 0.9;
        }
    }


#weatherContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1350px;
    height: 470px;
    margin: auto;
    background-color: #ede1c7;
    z-index: 100;
    opacity: 0.8;
    text-align: center;

          input {
            position: absolute;
            z-index: 100;
            border-color: #0c2b60;
            height: 9%;
            font-size: 19px;
            font-family: Palatino;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            width: 35%;
            position: absolute;
            text-align: center;
        }

        div#currentView {
            padding: 60px;
            display: block;
        
            p {
                font-style: Palatino;
                font-size: 24px;
                text-align: center;
            }
        

            button {
                width: 80px;
                height: 80px;
                transform: translateY(0%);
                margin: 2%;
                font-size: 20px;
                color: #0c2b60;
                border-color: #0c2b60;
            } 
        }

        div {
            display: flex;
            font-size: 21px;
            
            div#dailyView {
                transform: translateY(10%);
                height: 0px;
        
                ul {
                    list-style-type: none;
                    flex: 1;
                }
            }
        }
        

        div {
            display: flex;
            font-size: 21px;
            
            div#hourlyView {
                
                ul { 
                    list-style-type: none;
                    flex: 1;
                }
            }
        }
    }
        

h1 {
    position: absolute;
    top: 30px;
    left: 124px;
    color: #0c2b60;
    font-family: 'Pacifico', cursive;
    z-index: 100;
}







